
//
// Cursors
//

100     CURSOR    DISCARDABLE     "RES\\52.cur"
101     CURSOR    DISCARDABLE     "RES\\53.cur"
102     CURSOR    DISCARDABLE     "RES\\54.cur"
103     CURSOR    DISCARDABLE     "RES\\55.cur"
104     CURSOR    DISCARDABLE     "RES\\56.cur"
105     CURSOR    DISCARDABLE     "RES\\57.cur"
106     CURSOR    DISCARDABLE     "RES\\58.cur"
107     CURSOR    DISCARDABLE     "RES\\59.cur"
108     CURSOR    DISCARDABLE     "RES\\60.cur"
109     CURSOR    DISCARDABLE     "RES\\61.cur"
110     CURSOR    DISCARDABLE     "RES\\62.cur"
111     CURSOR    DISCARDABLE     "RES\\63.cur"

